.app-container {
	display: grid;
	height: 100vh;
	grid-template-columns: auto 1fr;
	grid-template-areas:
		'nav         nav'
		'user-colors samples'
		'palette     palette';
}

.app-container > * {
	padding: 0 1.5em;
}

.app-container > nav {
	grid-area: nav;
	border-bottom: 1px solid white;
}

.iconButton {
	font-size: xx-large;
	line-height: 1;
	margin: 0;
	padding: 12px;
}

#user-colors {
	grid-area: user-colors;
	overflow-y: scroll;
	border-right: 1px solid white;
	padding: 2em 0.5em;
}

#user-colors label {
	font-size: small;
	text-align: center;
	line-height: 1.5;
}

#samples {
	padding: 0;
	grid-area: samples;
	overflow-y: scroll;
	background-color: var(--USER-surface-1);
}

#palette {
	grid-area: palette;
	overflow: scroll;
	border-top: 1px solid white;
	max-height: 280px;
	min-height: 180px;
}

#samples input {
	color: var(--USER-text);
}
#samples input::placeholder {
	color: var(--USER-text-grayed);
	opacity: 0.5;
}

.textBox {
	max-height: 50vh;
	overflow-y: scroll;
}
